<!DOCTYPE html>
<head>
<title>Fractal Options</title>
</head>
<body>
<p>Enter Stock Ticker:
<form method="POST">
<input type="text">
<input type="submit">
</form>
</p>
<h1>Log Survival Plot</h1>
<img src="{{url_for('static', filename='plot.png')}}"/>
<h1>Stock Live Data</h1>
<table>
<tr>
<td>bid</td>
<td>ask</td>
<td>last</td>
<td>volume</td>
<td>52 Week High</td>
<td>52 Week Low</td>
</tr>
<tr>
<td>{{stockBid}}</td>
<td>{{stockAsk}}</td>
<td>{{stockLast}}</td>
<td>{{stockVolume}}</td>
<td>{{stock_fifty_two_week_high}}</td>
<td>{{stock_fifty_two_week_low}}</td>
</tr>
</table>
<h1>Option Chain Data</h1>
<table>
<tr>
<td>Description</td>
<td>bid</td>
<td>ask</td>
<td>last</td>
<td>volume</td>
<td>Implied Volatility</td>
<td>Implied Alpha</td>
</tr>
{%for i in optionList%}
<tr>
<td>{{i[1]}}</td>
<td>{{i[2]}}</td>
<td>{{i[3]}}</td>
<td>{{i[4]}}</td>
<td>{{i[5]}}</td>
<td>{{i[6]}}</td>
<td>Implied Alpha</td>
</tr>
{%endfor%}
</table>
</body>
</html>
